.item-pictures {
  width: 150px;
  height: 150px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
}

li {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  border: 1px solid black;
  background-color: lightyellow;
}

#item-title {
  text-decoration: underline;
}

@media screen and (min-width: 1024px) {
  li {
    width: 60%;
  }
}
