#search-button {
  background-color: lightgrey;
  margin-left: 10px;
}

input {
  border: 1px solid black;
  margin-left: 10px;
}

#error-message {
  margin-top: 70px;
  font-size: 22px;
}

@media screen and (min-width: 1024px) {
  #error-message {
    font-size: 34px;
  }

  input {
    width: 200px;
    height: 20px;
    font-size: 16px;
  }

  #search-button {
    height: 24px;
  }
}
